<p>Filter</p>
<app-date-filter (onFilter)="applyFilter($event)"></app-date-filter>
<p>Matches</p>	
<ul class="match-list" *ngIf="matches.length>0; else access">
    <li *ngFor="let match of matches">
        <a>
            <div class="match__item" *ngIf="match">
                <div class="match__content">
                    <h3 class="match__title">Competition: {{ match.competition.name }}</h3>
                    <p class="match_text"><b>Home Team:</b> {{ match.homeTeam.name }}</p>
                    <p class="match_text"><b>Away Team:</b> {{ match.awayTeam.name }}</p>
                    <p class="match_text"><b>Start:</b> {{ match.season.startDate }}</p>
                    <p class="match_text"><b>End:</b> {{ match.season.endDate }}</p>
                </div>
            </div>
        </a>
    </li>
</ul>
<ng-template #access>
	<div>
		No access
	</div>
</ng-template>
