<p>leagues/competions</p>
<ul class="cat-list">
    <li *ngFor="let competition of competitions">
        <a>
            <div class="competition__item" *ngIf="competition">
                <div class="competition__content">
                    <h3 class="competition__title">{{competition.name}}</h3>
                    <p class="competition_text">{{competition.plan}}</p>
                </div>
            </div>
        </a>
    </li>
</ul>
