<p>leagues/competions</p>
<ul class="competition-list">
    <li *ngFor="let competition of competitions">
        <a class="competition__link" routerLink="/matches" [queryParams]="{'id': competition.id}">
            <div class="competition__item" *ngIf="competition">
                <div class="competition__content">
                    <h3 class="competition__title">{{competition.name}}</h3>
                    <p class="competition__text">Plan: {{competition.plan}}</p>
                </div>
            </div>
        </a>
    </li>
</ul>
