<form [formGroup]="form" novalidate (ngSubmit)="submit()">
    <div class="form-group">
        <label>Start date</label>
        <input class="form-control" type="date" id="startDate" name="startDate" formControlName="startDate" />
        <div class="alert alert-danger"
            *ngIf="form.controls['startDate'].invalid && form.controls['startDate'].touched">
            <small>Введите дату</small>
        </div>
    </div>
    <div class="form-group">
        <label>End date</label>
	    <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate" /> 
	    <div class="alert alert-danger"
            *ngIf="form.controls['endDate'].invalid && form.controls['endDate'].touched">
            <small>Введите дату</small>
        </div>
    </div>
    <div class="form-group">
        <button class="btn" [disabled]="form.invalid">Search</button>
        <button class="btn btn-default" [disabled]="!form.dirty" (click)="formReset()">Reset</button>
    </div>
</form>
