<div class="form">
    <form id="search">
        <div class="form-group">
            <label>Search</label>
            <input type="text" class="form-control" placeholder="search" name="search" [(ngModel)]="search" />
        </div>
    </form>    
</div>
<p>Teams</p>
<ul class="team-list">
    <li *ngFor="let team of teams">
        <a routerLink="/team" [queryParams]="{'id': team.id}">
            <div class="team__item" *ngIf="team">
                <div class="team__content">
                    <h3 class="team__title">{{team.name}}</h3>
                    <p class="team_text">{{team.address}}</p>
                </div>
            </div>
        </a>
    </li>
</ul>